#list_wapper {
    margin: 5px;
}

p {
    margin: 0;
}

.list .list_item {
    display: flex;
    padding: 10px 0 10px 10px;
    background: #fff;
    margin-bottom: 5px;
    border-bottom: 1px solid gainsboro;
}

.list .list_item .img {
    flex: 1;
}

.list .list_item .content {
    width: 60%;
}

.list .list_item .content .title {
    font-weight: 700;
    font-size: 0.7rem;
}

.list .list_item .content p {
    margin-left: 10px;

}

.list .list_item .img img {
    width: 100%;
}

.list .list_item .content .word {
    font-size: 0.6rem;
    padding: 5px 0;
    word-break: break-word;
    line-height: .7rem;
}

.title {
    padding-bottom: 5px;
    border-bottom: 1px solid #D4D4D4;
}

.face div {
    margin: 10px 0;
    float: left;
}

.Tongue div {
    margin: 10px 0;
    float: left;
}

.diseaseContent div {
    margin: 10px 0;
    display: inline-block;
    float: left;
    width: 35%;
    text-align: center;
    padding-left: 54px;
}

#medicine_result_list li {
    margin: 10px 0 10px 44px !important;

}
