* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}

ol {
    padding-left: 1em;
    font-size: 12px;
}

#wrapper {
    background: #fff;
    margin: 5px;
    padding: 10px;
    text-align: left;
}

.list_item dt {

}

.list_item dd li {
    margin: 10px 0;
}

.list_item dd img {
    width: 100%;
    text-align: center;
}

.imgBox{
    text-align: center;
}

.list_item dd p {
    font-size: 12px;
}

.list {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 1px 3px gainsboro;
    padding: 5px;
    text-align: left;
    /*border: 1px solid black;*/
}

li {
    list-style: none;
}
