
body{
	width: 100%;
    height: 100%;
    background: #E4E4E4;
}
#list_wapper{
margin: 5px;
    text-align: left;
}
p{
	margin: 0;
}
.list .list_item{
	display: flex;
    padding: 10px 0 10px 10px;
	background: #fff;
	margin-bottom: 5px
}

.list .list_item .img{
	width: 146px;
	height: 130px;
}
.list .list_item .content{
	width: 60%;
}
.list .list_item .content .title{
	font-weight: 700;
	font-size: 16px;
}
.list .list_item .content p{
	margin-left: 10px;

}
.list .list_item .img img{
	width: 100%;
	height: 100%;
}
.list .list_item .content .word{
	font-size: 16px;
	padding: 5px 0;
	word-break: break-word;
	line-height: 18px;
    text-align: left;
}
.title{
	padding-bottom: 5px;
	border-bottom: 1px solid #D4D4D4;
}
