label{
    margin-bottom:0;
    color: #4a4a4a;
}
p{
    margin-bottom: 0;
}
.weui-cells{
    color: #000000;
}
/*.weui-cells:before {*/
    /*border-top: 1px solid #FFFFFF;*/
    /*color: #FFFFFF;*/
/*}*/
.weui-input{
    font-size: 14px;
}
.weui-grids{
    background-color: #FFFFFF;
}